package com.exercise1;
import java.util.Scanner;

public class BankSystem {

    public static void main(String[] args){
        Scanner scanner = new Scanner(System.in);
        System.out.println("Choose account type(1 for savings, 2 for current):");

        int choice = scanner.nextInt();

        System.out.println("Enter account number:");

        int accountNumber = scanner.nextInt();

        System.out.println("Enter Name:");
        String name = scanner.next();

        System.out.println("Enter Initial Amount:");
        double amount = scanner.nextDouble();

        Account account = null;

        switch (choice){
            case 1:
                account = new SavingsAccount(accountNumber,name,amount);
                break;
            case 2:
                account = new CurrentAccount(accountNumber,name,amount);
                break;
            default:
                System.out.println("Invalid Choice");
                System.exit(0);

        }
        account.display();

        System.out.println("Choose account type(1 for Deposit, 2 for Withdraw):");
           int action = scanner.nextInt();

           System.out.println("Enter amount");

           double actionAmount = scanner.nextDouble();

           switch(action){
               case 1:
                   account.deposit(actionAmount);
                   break;
               case 2:
                   account.withdraw(actionAmount);
                   break;
               default:
                   System.out.println("Invalid Action");
           }
           account.display();
           scanner.close();

    }
}
