package com.exercise1;

public abstract class Account {
   protected int accountNumber;
    protected String name;
    protected double amount;

    public Account(int accountNumber,String name,double amount){
        this.accountNumber=accountNumber;
        this.name = name;
        this.amount=amount;
    }

    public abstract void deposit(double amount);
    public abstract void withdraw(double amount);

    public void display(){
        System.out.println("Account number" + accountNumber);

        System.out.println("Name" + name);
        System.out.println("Amount" + amount);


    }
}
